body {
  background: #404040;
  font-size: 11px;
  line-height: 1.5;
  font-family: "M PLUS Rounded 1c";
}
#crest {
  width: 82px;
  height: 82px;
  img {
    width: 100%;
  }
  ul {
    position: relative;
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      margin: 0;
      &#crest_1 {
        position: relative;
      }
    }
  }
}
#fc {
  color: #fff;
  position: relative;
  .v_top {
    vertical-align: top;
  }
  h3 {
    margin: 0 0 5px;
    font-size: 1.8em;
  }
  span.stitle {
    color: rgba(255,255,255,.6);
  }
  p {
    margin: 0 0 5px;
  }
  .fc_tag {
    font-size: 12px;
  }
}
#free_company_members {
  display: flex;
  flex-wrap: wrap;
  figure {
    width: calc(100% - 20px);
    position: relative;
    max-width: 414px;
    padding: 15px;
    margin: 0px 10px 10px 0;
    background: #fff;
    border-radius: 4px;
    box-sizing: content-box;
    box-shadow: 1px 1px 5px rgba(0,0,0,.3);
    display: flex;
    opacity: 0;
    transition: all 300ms 0s ease;
    .avatar {
      img {
        border-radius: 50%;
        width: 64px;
        margin: 0 7px 7px 0;
      }
    }
    .rank_icon {
      width: 15px;
      position: relative;
      top: 3px;
    }
    .accordion {
      overflow: hidden;
      height: 8em;
      transition: all 300ms 0s ease;
      cursor: pointer;
    }
    .data {
      width: 100%;
      .name {
        font-size: 1.5em;
        font-weight: 700;
        white-space: nowrap;
      }
      .message {
        background: #e0e0e0;
        border-radius: 4px;
        padding: 10px;
        margin: 8px 0 0 0;
      }
      span.class {
        display: inline-block;
      }
    }
    table {
      &.cj {
        border-collapse: collapse;
        border:none;
        width: 100%;
        td{
          padding: 1px 3px;
          &.job_name {
            width: 38%;
          }
          &.job_level {
            width: 3em;
          }
          &.exp {
            width: calc(62% - 3em);
            padding: 0;
            .bar {
              height: 2px;
              width: 100%;
              background: rgba(0,0,0,.1);
              .next {
                height: 2px;
                background: rgb(0, 153, 255);
                transition: all 300ms 0s ease;
              }
            }
          }
        }
      }
    }
  }
}
#message {
  color: #fff;
}
.loading {
  display: block;
  background:url('../images/loading.png');
  background-size: contain;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 58px;
  left: 85px;
  &.fc {
    position: absolute;
    top: 32px;
    left: 32px;
  }
}

// scroll_animation.js用
.sa {
  opacity: 0;
  transition: all .5s ease;
}
.sa.show {
  opacity: 1;
  transform: none;
}
.sa--lr {
  transform: translate(-100px, 0);
}
.sa--rl {
  transform: translate(100px, 0);
}
.sa--up {
  transform: translate(0, 100px);
}
.sa--down {
  transform: translate(0, -100px);
}
.sa--scaleUp {
  transform: scale(.5);
}
.sa--scaleDown {
  transform: scale(1.5);
}
.sa--rotateL {
  transform: rotate(180deg);
}
.sa--rotateR {
  transform: rotate(-180deg);
}


@media screen and (max-width: 480px) {
  #free_company_members {
    figure {
      margin: 0 0 10px;
    }
  }
}