<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,
 initial-scale=1.0,user-scalable=yes" />
  <title>FC Members!</title>
  <link rel="stylesheet" media="all" href="assets/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
  <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
</head>
<body>
  <div id="app">
    <table id="fc">
      <tbody>
        <tr>
          <td class="vertical_top">
            <div id="crest" v-html="crest"></div>
            <v-loading :show="show" text="FCデータを取得中..."></v-loading>
          </td>
          <td>
            <p id="location"><span class="stitle">ワールド:</span>{{server}} ({{dc}})</p>
            <div class="wraper_fc_name_tag">
              <h3 id="fc_name">{{fc_name}}</h3> <span class="fc_tag">[{{fc_tag}}]</span>
            </div>
            <p id="fc_slogan">{{fc_slogan}}</p>
            <p id="description"><span class="stitle">メンバー数:</span>{{fc_description}}人</p>
          </td>
        </tr>
      </tbody>
    </table>
    <ul id="free_company_members">
      <li class="member" v-for="member of fc_members" :key="member.ID" :data-id="member.ID">
        <div class="avatar">
          <a :href="'https://jp.finalfantasyxiv.com/lodestone/character/' + member.ID + '/'" target="lodestone">
            <img :src="member.Avatar"/>
          </a>
        </div>
        <div class="data">
          <div class="rank"><img :src="member.RankIcon" class="rank_icon" />{{member.Rank}}</div>
        </div>
        <div class="name">{{member.Name}}</div>
        <div class="accordion">
          <v-loading :show="show" text="データ取得中..."></v-loading>
          <table class="cj">
            <tbody>
              <tr class="class" v-for="prof of member.class_job" :key="prof.ClassID">
                <td class="job_name">{{prof.Name}}</td>
                <td class="job_level">Lv.{{prof.Level}}</td>
                <td class="exp"><div class="bar"><div class="next" v-bind:data-width=" Math.round(prof.ExpLevel / prof.ExpLevelMax * 100)"></div></div></td>
              </tr>
            </tbody>
          </table>
          <div class="message"></div>
        </div>
      </li>
    </ul>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script>
    // FCIDを入力
    var fc_id = '9236038410806874376';
  </script>
  <script src='assets/js/main.js'></script>
</body>
</html>